body {
  display: grid;
  justify-content: center;
}

<<<<<<< HEAD
#header {
  border-bottom: 5px solid rgb(201, 201, 201);
}

form {
  border: none;
=======
form {
>>>>>>> da8e418a6433b1d412759757ab240c09e3eb8199
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto;
  grid-template-areas:
    'account payment payment order'
    'delivery address address order';
  gap: 2.5rem;
}

#my-account-info {
  grid-area: account;
}

#delivery-method-info {
  grid-area: delivery;
}

#payment-details {
  grid-area: payment;
}

#billing-details {
  grid-area: address;
}

#order-details {
  grid-area: order;
}

section {
  display: flex;
  flex-direction: column;
  border: 1px solid gray;
  justify-content: center;
<<<<<<< HEAD
  align-items: center;
  width: 90%;
  padding: 20px;
  background-color: white;
=======
  width: 100%;
  padding: 20px;
>>>>>>> da8e418a6433b1d412759757ab240c09e3eb8199
}

section p {
  align-self: center;
}

<<<<<<< HEAD
section > span {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px;
}

section > h2 {
  align-self: center;
  border-bottom: 5px solid rgb(201, 201, 201);
=======
section span {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

section h2 {
  align-self: center;
  border-bottom: 5px solid rgb(162, 162, 162);
>>>>>>> da8e418a6433b1d412759757ab240c09e3eb8199
}

section label {
  color: rgb(84, 84, 84);
}

<<<<<<< HEAD
a {
  font-size: 1.5rem;
  margin-top: 1rem;
  text-decoration: none;
  color: rgb(84, 84, 84);
}

a:visited {
  color: rgb(84, 84, 84);
}

=======
>>>>>>> da8e418a6433b1d412759757ab240c09e3eb8199
#billing-details span {
  display: inline;
}

<<<<<<< HEAD
#billing-details > div {
  display: flex;
  justify-content: space-between;
  width: 90%;
}

#back-to-cart {
  display: flex;
  align-items: end;
}

#card-details {
  display: grid;
  grid-template-areas:
    'number cvv'
    'name exp';
  gap: 10px;
}

#card-number {
  grid-area: number;
}
#card-cvv {
  grid-area: cvv;
}
#card-name {
  grid-area: name;
}
#card-exp {
  grid-area: exp;
=======
#billing-details div {
  display: flex;
  justify-content: space-around;
>>>>>>> da8e418a6433b1d412759757ab240c09e3eb8199
}
