@charset "UTF-8";
#headerbuttons a, #join{
text-decoration:none;
}

#homepage, body{
background-image: url(../photos/homepagebackground.png);
margin-top:0;
margin-left:0;
margin-right:0;
font-family: 'Montserrat', 'arial';
}

#headerbuttons{
background-color:white;
padding:10px;
}

#logo{
font-family: 'Comfortaa', 'Montserrat', 'arial';
padding-right:25px; 
margin:0;
color: black;
font-size: 32px;
}

.nav{
background-color: white;
padding:25px;
}

.nav:hover{
background-color:gray;
}

#navigation .nav:visited, #navigation .nav:link{
color:#18a0fb;
}

#navigation{
border-collapse: collapse;
}

#login{
border: 1px solid #18a0fb;
border-radius: 3px;
padding: 10px;
padding-left: 45px;
padding-right: 45px;
margin-right: 15px;
}

#none{
padding-right:525px;
}

#shct{
border: 1px none;
border-radius: 3px;
padding: 4px;
padding-left: 10px;
padding-right: 13px;
margin-bottom: -4px;
margin-left: -11px;
}

#shct:hover{
border: 1px solid #18a0fb;
border-radius: 3px;
padding: 3px;
padding-left: 10px;
padding-right: 10px;
margin-bottom: -4px;
margin-left: -12px;
}