body{
    background-image: url("../photos/../photos/photo-antipasto-platter-italian-food.jpg");
}

fieldset{
    background-color: white;
    opacity: .8;  
}

#headerbuttons a, #join{
text-decoration:none;
}

#homepage{
background-image: url(../photos/homepagebackground.png);
margin:0;
font-family: 'Montserrat', 'arial';
}

#logo{
font-family: 'Comfortaa', 'Montserrat', 'arial';
padding-right:25px; 
}

#headerbuttons{
background-color:white;
padding:25px;
}

.nav{
background-color:white;
padding:25px;
}

.nav:hover{
background-color:gray;
}

#navigation a:visited, #navigation a:link{
color:#18a0fb;
}

#navigation{
border-collapse: collapse;
}

#login{
border: 1px solid #18a0fb;
border-radius: 3px;
padding: 10px;
padding-left: 30px;
padding-right: 30px;
position:absolute;
left:85%;
top:2%;
}

#shct{
position:absolute;
left:93.5%;
top:2.5%;
}

#shct:hover{
border: 1px solid #18a0fb;
border-radius: 3px;
padding: 3px;
padding-left: 10px;
padding-right: 10px;
margin: -4px;
margin-left: -11px;
}

#login:hover{
background-color:gray;
}

#join{
border: 1px none #18a0fb;
background-color: #18a0fb;
color: white;
border-radius: 3px;
padding: 10px;
padding-left: 30px;
padding-right: 30px;
position:absolute;
left:46%;
top:75%;
}

#join:visited, #join:link{
color: white;
}

#join:hover{
background-color: #1489d6;
color: gray;
}