body {
  display: grid;
  justify-content: center;
}

form {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto;
  grid-template-areas:
    'account payment payment order'
    'delivery address address order';
  gap: 2.5rem;
}

#my-account-info {
  grid-area: account;
}

#delivery-method-info {
  grid-area: delivery;
}

#payment-details {
  grid-area: payment;
}

#billing-details {
  grid-area: address;
}

#order-details {
  grid-area: order;
}

section {
  display: flex;
  flex-direction: column;
  border: 1px solid gray;
  justify-content: center;
  width: 100%;
  padding: 20px;
}

section p {
  align-self: center;
}

section span {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

section h2 {
  align-self: center;
  border-bottom: 5px solid rgb(162, 162, 162);
}

section label {
  color: rgb(84, 84, 84);
}

#billing-details span {
  display: inline;
}

#billing-details div {
  display: flex;
  justify-content: space-around;
}
